<!DOCTYPE html>

<html>
<head>
	
	<meta charset="utf-8" />
	
	<title>login</title>/
	<link rel="stylesheet" href="css/flexi-background.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="css/styles.css" type="text/css" media="screen" />

	    <!-- Bootstrap core CSS -->
    <link href="bootstrap/bootstrapCore.css" rel="stylesheet">


    <!-- Custom styles for this template -->
    
</head>

<body>

	<script src="js/flexi-background.js" type="text/javascript" charset="utf-8"></script>

<!-- <div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">List Hub</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a  class = "btn btn-lg" role = "button" data-toggle = "modal" data-target = "#loginModal">Login</a></li>
                <li><a  class = "btn btn-lg" role = "button" data-toggle = "modal" data-target = "#signupModal">Sign-Up</a></li>
              </ul>
            </div>
          </div>

        </nav>

      </div>
    </div> -->

 <!-- Log In Modal -->
  <div class="modal fade" id="loginModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Login In</h4>
        </div>
        
        <div class="modal-body">
          <input id = "txtEmail" type="email" placeholder="Email" >
          <!-- Input for user Password -->
          <input id = "txtPassword" type="password" placeholder="Password">

          <button id = "btnLogin" class = "btn btn-action">
            Log In
          </button>

          <!-- div for error messages -->
          <div id = "errMess">
          </div>
        </div>
        
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
     
      </div>
      
    </div>
  </div>
  <!-- END OF Log-In MODAL -->

  <!-- Sign Up Modal -->
  <div class="modal fade" id="signupModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Create an Account</h4>
        </div>
        
        <form class='form-sign-in' ,action='/signup',method='POST'>
        <div class="modal-body">
          <input id = "firstName" type="text" placeholder="First Name" >
          <input id = "lastName" type="text" placeholder="Last Name" >
          <input id = "txtEmail" type="email" placeholder="Email" >
          <!-- Input for user Password -->
          <input id = "txtPassword" type="password" placeholder="Password">

          <button id = "btnLogin" class = "btn btn-action">Sign Up!</button>
          <!-- div for error messages -->
          <div id = "errMess">
          </div>
        </div>
        </form>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
     
      </div>
      
    </div>
  </div>
  <!-- END OF Sign-In MODAL -->


	<div id="box">
		<img src="images/listhub-white.png" class="logo" alt="yourlogo" />
		<h1>Member Login</h1>
		<form class="form-sign-in" action="/login" method="GET">
			<input type="text" onclick="this.value='';" onfocus="this.select()" onblur="this.value=!this.value?'Username':this.value;" value="Username" />
			<input type="password" onclick="this.value='';" onfocus="this.select()" onblur="this.value=!this.value?'Password':this.value;" value="Password"/>
      
			<input type="checkbox" id="remember" value="Remember" />
			<div class="hover-opacity"><label for="remember">Remember me</label></div>
			<ul class="list">
        <li class="list-item">
          <input type="button" name="" value="Log In" />
        </li>
        <li class="list-item">
          <input type="button" name="" value="Sign-Up" />
          <!-- <a data-toggle="modal" data-target="#signupModal" class="Sign__Up">Sign-Up</a> -->
        </li>
      </ul>
      <!-- <a data-toggle="modal" data-target="#signupModal" class="Sign__Up">Sign-Up</a> -->
                <!-- <li><a  class = "btn btn-lg" role = "button" data-toggle = "modal" data-target = "#signupModal">Sign-Up</a></li> -->
      
		</form>
	</div>
	
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="bootstrap/bootstrapCore.js"></script>

<script type="text/javascript">
	


</script>


</html>